footer(class="footer-container")
    i(id="copyright") {{copyrightText}}
    i(id="footer-links")
        a(href="/") home
        |&nbsp;|&nbsp;
        a(href="/traditional") Traditional
        |&nbsp;|&nbsp;
        a(href="/digital") Digital
        |&nbsp;|&nbsp;
        a(href="/photography") Photography
        |&nbsp;|&nbsp;
        a(href="/ceramics") Ceramics
        |&nbsp;|&nbsp;
        a(href="/about") About
