extends layout.pug

block content
    div(id="home", class="content")
        div(class="col-md-4 col-md-offset-2")
            h1 Hello!!!
            h2 This is my portfolio
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        div(class="col-md-4 home-image-container")
            img(class="home-image", :src="homeImage")
block append scripts
    script(src="js/home.js")
