html
    head
        title Olivia Giesbrecht
        base(href="/")
        block css
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
            link(rel="stylesheet", href="css/style.css")
    body
        div(class="body")
            div(class="container")
                div(class="header")
                    div(class="header-item")
                        a(href="/")
                            img(src="img/OG.png")
                    div(class="header-item")
                        a(href="/gallery")
                            img(src="http://www.jadepoint.com/v/vspfiles/assets/images/echepearlevonnurnberg.gif")
                    div(class="header-item")
                        a(href="/gallery")
                            img(src="https://65.media.tumblr.com/27e36239ac806199650a23bd01d7fdf0/tumblr_nus41h0Isz1ugxmoao1_250.png")
                    div(class="header-item")
                        a(href="/gallery")
                            img(src="https://static.tumblr.com/a8c92dc694ac9e738b57110369b51597/g7r3qn9/jVNnp2wtj/tumblr_static_bx5jz5cxy28skskkok4ocko8w.png")
                    div(class="header-item")
                        a(href="/gallery")
                            img(src="https://67.media.tumblr.com/6a01fc443347a62e94210d680ae024e1/tumblr_nurxq9eY2F1ugxmoao1_1280.png")
                    div(class="header-item")
                        a(href="/gallery")
                            img(src="https://s-media-cache-ak0.pinimg.com/originals/96/34/2f/96342f1067db284d2801df7c8b826b5e.jpg")
                    div(class="header-item")
                        a(href="/gallery")
                            img(src="https://66.media.tumblr.com/d7d654370430d86af05108d5ea37ec5f/tumblr_nb7cde0BTO1sqdi0go1_500.png")
                    div(class="header-item")
                        a(href="/gallery")
                            img(src="http://www.babybellasucculents.com/wp-content/uploads/2016/05/tiny-succulent-2.png")
            div(class="pink-line")
            block content
            footer(class="footer-container")
                i(id="copyright") {{copyrightText}}
                i(id="footer-links")
                    a(href="/") home
                    |&nbsp;|&nbsp;
                    a(href="gallery") Gallery
                    |&nbsp;|&nbsp;
                    a(href="gallery") Gallery
                    |&nbsp;|&nbsp;
                    a(href="gallery") Gallery
                    |&nbsp;|&nbsp;
                    a(href="gallery") Gallery
                    |&nbsp;|&nbsp;
                    a(href="gallery") Gallery
                    |&nbsp;|&nbsp;

    block scripts
        script(src="js/vue.js")
        script(src="js/vue-resource.js")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script.
            var year = new Date().getFullYear();
            var copyright = new Vue({
                el: '#copyright',
                data: {copyrightText: "Copyright © "+year+" Olivia Giesbrecht"}
            });
