.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header img {
    height: 140px;
    width: 140px;
}

.gallery-item {
    overflow: hidden;
    height: 200px;
    margin-bottom: 15px;
}

.gallery-item img {
    display: block;
    margin: auto;
    height: 120%;
}

.gallery-overlay{
    position: absolute;
    margin: inherit;
    top: 0;
    right: 0;
    bottom: -15;
    left: 15;
    background: #333333;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
    -webkit-transition:all 0.6s;

}

.gallery-hover {
    position:absolute;
    bottom: 0;
    left: 5px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
    -webkit-transition:all 0.6s;
    color: #F3F3F3;
}

.gallery-item:hover .gallery-overlay {
    opacity: .5;
}

.gallery-item:hover .gallery-hover {
    opacity: 1;
}

html {
    height: 100%;
}

body {
    background-color: #92d18a;
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-image-container {
    overflow: hidden;
}

.home-image {
    width: 100%;
    height: auto;
}

.pink-line {
    height: 12px;
    width: 100%;
    background-color: #eba9a9;
    margin: 5px 0 5px 0;
}

.logout {
    float: right;
    margin: 30px;
}

.gallery-select {
    margin-top: 30px;
}

.body {
    min-height:100%;
    position:relative;
    padding-bottom: 40px;
}

.pagination {
    margin: 40%;
}

.footer-container {
    height: 40px;
    width: 100%;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#copyright {
    margin: 15px;
}

#footer-links {
    margin: 15px;
}
